body {
  /* overflow-x: hidden; */
}

.rapper .convention__wrapper-title {
  color: #c0bcb7;
  padding: 16px 0;
}
.convention__wrapper .convention__wrapper-subtitle {
  font-weight: 200;
}

.room__type-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 160px;
}

.room__type-wrapper img {
  height: 400px;
}

.room__type-wrapper .room__type-discover {
  display: none;
}

.room__type-wrapper:hover .room__type-discover {
  display: block;
}

.room__type-wrapper .room__type-title {
  padding: 16px 24px;
  background-color: white;
  position: absolute;
  top: 0;
  font-weight: bold;
}
.room__type-wrapper .room__type-price {
  position: absolute;
}

.room__type-left .room__type-title {
  top: 0;
  right: 0;
}

.room__type-left .room__type-price {
  right: 0;
  top: 0;
}

.room__type-right .room__type-title {
  left: 0;
  top: 0;
}

.room__type-right .room__type-price {
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .room__type-left .room__type-title {
    right: 0;
    transform: translate(50%, 0px);
    padding: 34px 0px 34px 112px;
  }

  .room__type-left .room__type-price {
    right: 0;
    top: 50%;
    transform: translate(110%, -50%);
  }

  .room__type-right .room__type-title {
    left: 0;
    transform: translate(-50%, 0px);
    padding: 34px 112px 34px 0px;
  }

  .room__type-right .room__type-price {
    left: 0;
    top: 50%;
    transform: translate(-110%, -50%);
  }
}

.cta__wrapper {
  background-color: #e9e6e5;
}

.cta__wrapper .cta__wrapper-title {
  font-family: "Rozha One" !important;
  margin: 0;
}

.cta__wrapper .cta__wrapper-description {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.seymour-title {
  color: #c0bcb7 !important;
  font-weight: 500;
}

.home__banner-wrapper {
  width: 100%;
  height: 480px;
  position: relative;
}
.home__banner-wrapper .home__banner-title {
  position: absolute;

  top: 50%;
  z-index: 9;
}
.home__banner-wrapper .home__banner-item .accomodation__banner-title {
  position: absolute;
  background-color: white;
  left: 20%;
  padding: 14px 0 14px 0px;
  bottom: 0;
}

.btn__arrow {
  padding: 0.5rem 0;
  height: 43px;
}

.btn__arrow p {
  font-weight: 600;
  color: #b52804;
  cursor: pointer;
  margin-right: 14px;
  font-size: 18px;
  box-sizing: border-box;
  /* transition: all ease-in 300ms; */
}

.btn__arrow img {
  width: 80px;
  height: 4px;
}

.btn__arrow:hover p {
  font-weight: 400;
  border-bottom: 1px solid #b52804;
}

.btn__arrow:hover img {
  width: 40px;
}

.slide__btn {
  cursor: pointer;
  color: #e9e8e5;
}

.slide__btn p {
  font-size: 20px;
}

.slide__btn > svg {
  margin-top: -12px;
}

.slide__btn:hover {
  color: #c0bcb7;
}

.slide__btn:hover > svg {
  fill: #c0bcb7;
}

main {
  padding-top: 120px;
}

main > section {
  padding-bottom: 200px;
}

.local__item-wrapper:hover img {
  transition: all ease-in-out 300ms;
  opacity: 0.7;
}
.local__item-wrapper:hover p {
  visibility: visible;
}

.local__item-wrapper:hover h3 {
  color: #b52804;
}

.local__item-wrapper p {
  visibility: hidden;
}

.home__sticky-address {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 40px 120px;
  z-index: 9;
  color: #c0bcb7;
}

.home__sticky-address:hover p {
  text-decoration: underline;
  color: #222222;
}

.facility__list-wrapper {
  position: relative;
}

.facility__list-wrapper .facility__description-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  /* height: 200px; */
  top: 0;
  z-index: 9;
  background-color: #fff;
  padding: 0 14px;
  font-weight: 200;
}
.facility__list-wrapper > div {
  cursor: pointer;
}
.facility__list-wrapper
  > div:hover:nth-child(odd)
  > .facility__description-wrapper {
  display: block;
  left: 100%;
  border-left: 1px solid #c0bcb7;
  text-align: left;
}

.facility__list-wrapper
  > div:hover:nth-child(even)
  > .facility__description-wrapper {
  display: block;
  right: 100%;
  z-index: 9;
  border-right: 1px solid #c0bcb7;
  text-align: right;
}

/* LOCAL ACCTRATIONS */

.local__gallery-wrapper .row:not(:last-child) {
  padding-bottom: 160px;
}

/* FACILITIES */

.facilities__adrress-wrapper {
  position: sticky;
  top: 0;
}
.facilities__adrress-wrapper .facilities__adrress-inner {
  position: relative;
}

.facilities__adrress-wrapper
  .facilities__adrress-inner
  .facilities__adrress-content {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 40px 0 40px 112px;
  background-color: #fff;
}

.facilities__adrress-content:hover {
  color: #222222;
  text-decoration: underline;
}

.facilities__group-wrapper .facilities__group-title {
  padding-bottom: 32px;
}

.facilities__group-wrapper
  .facility__list-wrapper
  > div:hover:nth-child(even)
  > .facility__description-wrapper {
  display: block;
  left: 100%;
  z-index: 9;
  border-left: 1px solid #c0bcb7;
  text-align: left;
}

.facilities__group-wrapper:not(:last-child) {
  margin-bottom: 80px;
}

.facilities__group-wrapper .facilities__group-title {
  color: #c0bcb7;
  font-weight: 500;
}
