/* HOW IT WORK */
.step__wrapper > div {
  padding-bottom: 4rem;
}

.expand__btn {
  color: inherit;
  text-decoration: none;
}

.expand__btn:hover {
  text-decoration: none;
}

.card-header .title {
  font-size: 20px;
  color: #000;
}
.card-header .accicon {
  transition: all ease-in 300ms;
  text-align: center;
  float: right;
  font-size: 20px;
  width: 1.2em;
}
.card-header {
  cursor: pointer;
  border-bottom: none;
  background-color: inherit;
}

.card-header:not(.collapsed) .accicon {
  transform: rotate(-180deg);
}

.howtobook__help-wrapper input {
  width: 100%;
}

.howtobook__help-wrapper input:not(:last-child) {
  margin-bottom: 48px;
}
